<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SyncShare - History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='project.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="{{ url_for('main.about') }}">About</a></li>
                <li><a href="{{ url_for('main.history') }}">History</a></li>
                <li><a href="{{ url_for('main.dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('main.logout') }}">Logout</a></li>
                <li><a href="{{ url_for('main.anonymous_upload') }}">Send File Anonymously</a></li>
            </ul>
        </nav>
        <h1>SyncShare - History</h1>
    </header>
    <main>
        <section>
            <h2>Your File Sending History</h2>
            <ul>
                {% for file in user.history_files %}
                    <li>{{ file }}</li>
                {% endfor %}
            </ul>
        </section>
    </main>
    <footer>
        &copy; {{ current_year }} SyncShare. All rights reserved.
    </footer>
</body>
</html>
