<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - SyncShare</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='project.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to SyncShare</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="{{ url_for('main.about') }}">About</a></li>
                <li><a href="{{ url_for('main.login') }}">Login</a></li>
                <li><a href="{{ url_for('main.register') }}">Register</a></li>
                <li><a href="{{ url_for('main.anonymous_upload') }}">Send File Anonymously</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% if session.get('user') %}
            <h1>Welcome {{ session['user']['userinfo']['name'] }}!</h1>
            <p><a href="{{ url_for('main.logout') }}">Logout</a></p>
            <div><pre>{{ pretty }}</pre></div>
        {% else %}
            <h1>Welcome to SyncShare</h1>
            <p><a href="{{ url_for('main.login') }}">Login</a></p>
        {% endif %}
        <p>Current Year: {{ current_year }}</p>
    </main>
    <footer>
        <p>© {{ current_year }} SyncShare. All rights reserved.</p>
    </footer>
</body>
</html>
